.LogIn {
  width: 600px;
  height: 200px;
  margin: 200px auto;
  text-align: center;
}

.LogIn h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #00A7E1;
  font-weight: bold;
}

.LogIn a {
  text-decoration: none;
}