.device {
  width: 600px;
  margin: 20px auto;
}

.device_zone {
  border: 1px solid #00A7E1;
  border-top: none;
  box-sizing: border-box;
}

.device_name {
  width: 100%;
  box-sizing: border-box;
  background-color: #00A7E1;
  border-radius: 20px 20px 0px 0px ;
  padding: 10px;
}

.device_name h2 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.zone__run_all {
  transition: all 0.3s ease;
  border: 2px solid white;
  border-radius: 5rem;
  color: white;
  background-color: #00A7E1;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  float: right;
}

.zone__run_all:hover {
  cursor: pointer;
  border: 2px solid #00A7E1;
  background-color: white;
  color: #00A7E1;
}

.zone__all_running {
  border: 2px solid rgb(0, 225, 75);
  background-color: rgb(0, 225, 75);
  border-radius: 5rem;
  color: white;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  float: right;
}

.zone_image {
  width: 150px;
  margin-right: 20px;
}

.zone_name {
  font-size: 24px;
  margin-right: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.zone_controls {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

.zone_controls input {
  width: 40px;
}

.zone_run {
  transition: all 0.3s ease;
  border: 2px solid #00A7E1;
  border-radius: 5rem;
  color: #00A7E1;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
}

.zone_run:hover {
  background: #00A7E1;
  color: white;
  cursor: pointer;
}

.zone_disabled {
  border: 2px solid rgb(225, 0, 0);
  background-color: rgb(225, 0, 0);
  border-radius: 5rem;
  color: white;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 10px auto;
}

.zone_run__running {
  border: 2px solid rgb(0, 225, 75);
  background-color: rgb(0, 225, 75);
  border-radius: 5rem;
  color: white;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 20px;
}